<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>

<div class="container">
    <div align="center">
<!--        <p th:text="${Hello}"></p>-->


        <form action="#" th:action="@{'/profile/buy/' + ${product.productId}}" th:object="${product}" method="post">
            <h3 th:text="*{productName}" />
            <h4 th:text="*{productDescription}" />
            <tr><td>Price:</td> <td><h5 th:text="*{price}" /></td></tr>
            <tr><td>Items left:</td> <td><h5 th:text="*{stock}" /></td></tr>
<!--            Items left: <h4 th:text="*{stock}" />-->
            <button type="submit">Buy</button>
            <br />
            <br />
            <a type="button" th:href="@{'/profile/index'}">Cancel</a>
        </form>

<!--        <a th:href="@{'/profile/buy/' + ${product.productId}}">Buy</a>-->



    </div>
</div>



</body>
</html>