<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<div class="container">
    <h2>Welcome <span sec:authentication="name"></span></h2>
</div>

<div class="container">
    <div align="center">
        <h1>Purchase History</h1>
        <br/><br/>
        <table border="1" cellpadding="10">
            <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Time Stamp</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${listProducts}">
                <td th:text="${product[0]}">Product ID</td>
                <td th:text="${product[1]}">Product Name</td>
                <td th:text="${product[2]}">Product Price</td>
                <td th:text="${product[3]}">Time Stamp</td>
<!--                <td th:text="${product.stock}">Stock</td>-->
<!--                <td>-->
<!--                    <a th:href="@{'/profile/buy/' + ${product.productId}}">Buy</a>-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>



</body>
</html>